<div class="modal fade " tabindex="-1" id="errorModal">
    <div class="modal-dialog custom-modal-dialog ">
      <div class="modal-content">
        <div class="modal-header p-2">
          <p class="h4 modal-title fw-bold">ERROR</p>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="error-content"></p>
        </div>
        <div class="modal-footer">

          <button class="btn btn-primary" data-bs-dismiss="modal">CLOSE</button>
        </div>
      </div>
    </div>
</div>