<div class="footer-dark container-fluid">
    <footer class="pb-xl-0 pb-md-5 py-sm-5">
        <div class="container">
            <div class="row ">
                <div class="col-sm-12 col-md-6 item">
                    <img src="{{ MEDIA_URL }}logo2.png" alt="" class="border border-dark img-fluid">

                </div>
                <div class="col-md-6 item text">
                    <h3>Blade</h3>
                    <p>Experience the art of personalized folding knives with our skilled artisans. From blade
                        selection to handle materials, we transform your vision into a finely crafted tool that
                        reflects your style and functionality.</p>
                </div>
                <div class="col item social">
                    <a href="https://www.facebook.com/profile.php?id=100092844772758" aria-label="Facebook icon" target="_blank" ><i class="bi bi-facebook" style=" color: white;"></i></a>
                    <a href="https://www.instagram.com/newblade79/" aria-label="Instagram icon" target="_blank"><i class="bi bi-instagram" style=" color: white;"></i></a>
                    <a href="https://github.com/rockroman" aria-label="github  icon" target="_blank"><i class="bi bi-github" style=" color: white;"></i></a>
                </div>
            </div>
            <p class="copyright"> by Roman Rakic © 2023</p>
        </div>
    </footer>
</div>