<!-- main navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-0 ">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample-left">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="">
            <!-- <img src="{{ MEDIA_URL }}my_logo.png" alt="" class="my_logo img-fluid"> -->
        </a>
        <div class="d-flex d-lg-none align-items-center" >



            <div class="dropdown">

                    <button type="button" id="dropdownProfile1" class="btn dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person" style="font-size:1.5rem; -webkit-text-stroke-width: 1px; color: white;"></i></button>

                <ul class="dropdown-menu " aria-labelledby="dropdownProfile1">
                    {% if request.user.is_authenticated %}
                    <li>
                        <a class="dropdown-item " href="{% url 'customer_profile:profile' %}">Profile</a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li>
                        <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <li><a class="dropdown-item " href="{% url 'products:add_product' %}">Shop management</a></li>
                    {% endif %}
                </ul>
          </div>
            <div>
                <a href="{% url 'wishlist:wishlist' %}"  role="button" class="btn py-3">
                    <i class="bi bi-suit-heart" style="font-size:1.5rem; -webkit-text-stroke-width: 1px; color: white"></i>
                </a>
                <span class="heart-total">{{ wishlist_count}}</span>
            </div>

            <button class="btn"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample-right">
                <i class="bi bi-search" style="font-size:1.2rem; -webkit-text-stroke-width: 1px; color: white;"></i>
            </button>

            <div class="">

                <a class="btn py-3" role="button" href="{% url 'shopping_cart:cart' %}">
                    <i class="bi bi-cart3" style="font-size:1.2rem; -webkit-text-stroke-width: 1px; color: white;"></i>
                </a>
                <span class="cart-total">
                    {% if all_items %}
                    {{ all_items }}
                    {% else %}s
                     0
                     {% endif %}
                </span>
                <div class="price text-warning position-absolute">
                </div>
            </div>
        </div>


        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home:home' %}">Home</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{% url 'products:store_products' %}">products</a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       All Knives
                    </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'products:store_products' %}?sort=price&direction=asc">By Price</a></li>
                    <li><a class="dropdown-item" href="{% url 'products:store_products' %}?sort=bladelength&direction=desc">By Blade Length </a></li>
                    <li><a class="dropdown-item" href="{% url 'products:store_products' %}?sort=name&direction=desc">Name</a></li>
                    <li><a class="dropdown-item" href="{% url 'products:store_products' %}?sort=category&direction=asc">By Category</a></li>
                    <li><a class="dropdown-item" href="{% url 'products:store_products' %}">All Knives</a></li>
                </ul>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'products:store_products'%}?category=Explorer">Explorer</a></li>
                    <li><a class="dropdown-item" href="{% url 'products:store_products'%}?category=Craftsman">Craftsman</a></li>
                    <li><a class="dropdown-item" href="{% url 'products:store_products'%}?category=Gentleman">Gentleman</a></li>
                    <li><a class="dropdown-item" href="{% url 'products:store_products'%}?category=Explorer,Craftsman,Gentleman">All categories</a></li>

                </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'contact_about:contact_about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'contact_about:contact_about' %}">Contact</a>
                </li>
            </ul>
            <div class="d-none d-lg-flex flex-row w-auto align-items-center" >



                <div class="dropdown">

                        <button type="button" id="dropdownProfile2" class="btn dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person" style="font-size:1.5rem; -webkit-text-stroke-width: 1px; color: white"></i>
                        </button>


                    <ul class="dropdown-menu " aria-labelledby="dropdownProfile2">
                        {% if request.user.is_authenticated %}
                        <li><a class="dropdown-item " href="{% url 'customer_profile:profile' %}">Profile</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                        <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
                        {% if request.user.is_authenticated %}
                        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                        {% endif %}
                        {% if request.user.is_superuser %}
                        <li><a class="dropdown-item " href="{% url 'products:add_product' %}">Shop management</a></li>
                        {% endif %}

                    </ul>
                </div>
                <div>
                    <a href="{% url 'wishlist:wishlist' %}"  role="button" class="btn py-3">
                        <i class="bi bi-suit-heart" style="font-size:1.3rem; -webkit-text-stroke-width: 1px; color: white"></i>
                    </a>
                    <span class="heart-total">{{ wishlist_count}}</span>
                </div>
                    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample-right">
                        <i class="bi bi-search" style="font-size:1.2rem; -webkit-text-stroke-width: 1px; color: white"></i></button>

                    <div>

                        <a class="btn py-3" role="button" href="{% url 'shopping_cart:cart' %}">
                            <i class="bi bi-cart3" style="font-size:1.2rem; -webkit-text-stroke-width: 1px; color: white"></i>
                        </a>
                        <span class="cart-total">{{ all_items }}</span>
                        <div class="price text-warning position-absolute">
                        </div>
                    </div>


                <!-- </div> -->
            </div>
        </div>
   </div>
</nav>
<!-- main navigation -->

<!-- right sidebar nav -->
<div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasExample-right" aria-labelledby="right-offcanvasExampleLabel" >
    <div class="offcanvas-header" >
        <h5 class="offcanvas-title text-white" id="right-offcanvasExampleLabel">Search the Store</h5>
        <button type="button" class="btn-close btn-close-white"  data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" >
        <form class="d-flex " method="GET" action="{% url 'products:store_products' %}">
            <div class="input-group">
                <input class="form-control" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="btn " type="submit"><i class="bi bi-search" style="font-size:1.2rem; color: white"></i></button>

            </div>
        </form>

    </div>
</div>

<!-- right sidebar nav -->

<!-- left sidebar nav -->
<div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="offcanvasExample-left" aria-labelledby="left-offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="left-offcanvasExampleLabel">Title left</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="{% url 'home:home' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                All Knives
                </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'products:store_products' %}?sort=price&direction=asc">By Price</a></li>
                <li><a class="dropdown-item" href="{% url 'products:store_products' %}?sort=bladelength&direction=desc">By Blade Length </a></li>
                <li><a class="dropdown-item" href="{% url 'products:store_products' %}?sort=name&direction=desc">By Name</a></li>
                <li><a class="dropdown-item" href="{% url 'products:store_products' %}?sort=category&direction=asc">By Category</a></li>
                <li><a class="dropdown-item" href="{% url 'products:store_products' %}">All Knives</a></li>
            </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
                </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item text-white" href="{% url 'products:store_products'%}?category=Explorer">Explorer</a></li>
                    <li><a class="dropdown-item" href="{% url 'products:store_products'%}?category=Craftsman">Craftsman</a></li>
                    <li><a class="dropdown-item" href="{% url 'products:store_products'%}?category=Gentleman">Gentleman</a></li>
                    <li><a class="dropdown-item" href="{% url 'products:store_products'%}?category=Explorer,Craftsman,Gentleman">All categories</a></li>
            </ul>
            </li>
            <li class="nav-item ">
                <a class="nav-link active text-white" href="{% url 'contact_about:contact_about' %}" aria-current="page">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-white" href="{% url 'contact_about:contact_about' %}">Contact</a>
            </li>
        </ul>
    </div>
</div>
<!-- left sidebar nav -->




<!-- right sidebar nav  profile-->
<!-- <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample-right2" aria-labelledby="right-offcanvasExampleLabel">
    <div class="offcanvas-header">

        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="user-profile">

        </div>


    </div>
</div> -->

<!-- right sidebar nav -->
