<div class="toast custom-toast rounded-0 border-success" data-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header bg-white text-dark d-flex justify-content-between">
        <strong class="mr-auto">Success!</strong>
        <button type="button" class="mx-2 mb-1 btn-close text-dark" data-bs-dismiss="toast" aria-label="Close">
        </button>
    </div>
    <div class="toast-body bg-white">
        {{ message }}
    </div>
</div>
<!-- code taken from boutique ado walkthrough -->