<!--
<div class="toast my_custom rounded-0 border-success msg-success" data-autohide="false" id="success-message" >
        <div class="arrow-up arrow-success"></div>
        <div class="w-100 toast-capper bg-success"></div>
        <div class="toast-header bg-white text-dark d-flex justify-content-between">
            <strong class="mr-auto">Success!</strong>
            <button type="button" id="reboot" class="mx-2 mb-1 btn-close text-dark" data-bs-dismiss="toast" aria-label="Close">
            </button>
        </div>
        <div class="toast-body bg-white msg">

        </div>
    </div> -->


    <div class="modal success-modal" tabindex="-1">
        <div class="modal-dialog custom-modal-dialog ">
          <div class="modal-content">
            <div class="modal-header p-2">
              <p class="modal-title fw-bold">Succes</p>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p class="custom-content">Modal body text goes here.</p>
            </div>
            <div class="modal-footer">

            </div>
          </div>
        </div>
      </div>