
    <div class="modal success-modal" tabindex="-1">
        <div class="modal-dialog custom-modal-dialog ">
          <div class="modal-content">
            <div class="modal-header p-2">
              <p class="modal-title fw-bold">Succes</p>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p class="custom-content">Modal body text goes here.</p>
            </div>
            <div class="modal-footer">

            </div>
          </div>
        </div>
      </div>