{% extends 'base.html' %}
{% load static %}

{% block content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'wishlist/css/wishlist.css' %}">
{% endblock  %}



{% include 'partials/top_main_nav.html' %}




<div class="container">
    <div class="row pt-4 d-flex justify-content-center">
        <div class="col-lg-8">
            <!-- <p class="pb-2 fw-bold">Order</p> -->
            <div class="card">
                <div class="ribbon ribbon-top-right"><span>WISHLIST</span></div>
                <div>
                    <div class="table-responsive px-md-4 px-2 pt-3">
                        <table class="table table-borderless">
                            <tbody>
                                {% for item in wishlist_items %}
                                <tr class="border-bottom mb-2">
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div>
                                                {% if item.product.image %}
                                                    <img class="pic product-image" src="{{ item.product.image.url }}" alt="">
                                                {% else %}
                                                    <img class="pic product-image" src="{{ MEDIA_URL }}no_image.jpg" alt="{{ product.name }}">
                                                {% endif %}
                                            </div>
                                            <div class="ps-2 d-flex flex-column justify-content">
                                                <p class="fw-bold">{{ item.product.name }}</p>
                                                <small class=" d-flex">
                                                     <span class=" text-muted"></span> <span class=" fw-bold">{{ item.product.blade }}</span>
                                                </small>
                                                <hr class="my-1">
                                                 <small class="">
                                                     <span class=" text-muted"></span> <span class=" fw-bold">{{ item.product.handlematerial }}</span>
                                                </small>
                                            </div>
                                            <!-- <div class="mx-auto">
                                                <button>rtterte</button>
                                                <button>sdffdfsdfsd</button>
                                            </div> -->

                                        </div>
                                        <!-- <hr class="my-1"> -->
                                        <div class="w-75 d-flex">
                                            {{ item.product.description }}



                                        </div>


                                            <form  method="POST" action="{% url 'wishlist:remove_from_wishlist' %}" class="wishlist_products">
                                                {% csrf_token %}
                                                <div class="w-100 ">
                                                    {% if item.product.image %}
                                                    <input type="hidden" class="product-image" value="{{ item.product.image.url }}" >
                                                    {% else %}
                                                    <input type="hidden" class="product-image" value="{{ MEDIA_URL }}no_image.jpg" >
                                                    {% endif %}
                                                    <button class="btn btn-danger mt-3" type="submit"><i class="bi bi-trash3"></i></button>
                                                    <button type="button"   class="btn btn-success  text-uppercase mt-3 addToCartBtnWish">
                                                        <i class="bi-cart-fill me-1"></i>
                                                        Add to cart
                                                    </button>
                                                    <!-- hidden inputs for ajax call -->
                                                    <input type="hidden" name="item-id" value="{{ item.id }}">
                                                    <input type="hidden" class="product-id" value="{{ item.product.id }}" >
                                                    <input type="hidden" class="product-price" value="{{ item.product.price }}">
                                                    <input type="hidden" class="product-name" value="{{ item.product.name }}">
                                                    <input type="hidden" class="csrf_token" value="{{ csrf_token }}">
                                                </div>
                                        </form>


                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <p class="my-3"><span class="text-success fw-bold">€{{ item.product.price }}</span></p>

                                        </div>
                                    </td>




                                </tr>
                                <!-- try -->

                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}