{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block content %}
{% include 'partials/top_main_nav.html' %}
    <div class="overlay"></div>
<div class="container checkout-success bg-light mt-3  border border-success" style="max-width: 550px !important;">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Thank You for your order</h2>
                <hr>
                <p class="text-black">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>

        <div class="row ">
            <div class="col-12 col-lg-7"></div>

            <div class="col-12 text-md-left mb-3">
                <small class="text-muted font-italic p-md-l-3">Order Info</small>
            </div>

            <div class="col-12 col-md-4 text-md-left">
                <p class="mb-0 text-black font-weight-bold p-md-l-3">Order Number:</p>
            </div>
            <div class="col-12 col-md-8 text-md-right">
                <p class="mb-0 p-md-r-3">{{ order.order_number }}</p>
            </div>


            <div class="col-12 col-md-4 text-md-left">
                <p class="mb-0 text-black font-weight-bold p-md-l-3">Order Date:</p>
            </div>
            <div class="col-12 col-md-8 text-md-right">
                <p class="mb-0 p-md-r-3">{{ order.date }}</p>
            </div>


        </div>
        <hr class="email-rule">



        <div class="row">
            <div class="col-12 text-md-left mb-3">
                <small class="text-muted font-italic p-md-l-3">Order Details</small>
            </div>
        </div>

        {% for item in order.lineitems.all %}
        <div class="row">
            <div class="col-12 col-md-4 text-md-left">
                <p class="mb-0 text-black font-weight-bold p-md-l-3">{{ item.product.name }}</p>
            </div>
            <div class="col-12 col-md-8 text-md-right">
                <p class="small mb-0  p-md-r-3">{{ item.quantity }} x €{{ item.product.price }} each</p>
            </div>
        </div>
        {% endfor %}

        <hr class="email-rule">


        <div class="row">
            <div class="col-12 text-md-left mb-3">
                <small class=" p-md-l-3">Delivery Address</small>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4 text-md-left">
                <p class="mb-0 text-black font-weight-bold p-md-l-3">Full Name:</p>
            </div>
            <div class="col-12 col-md-8 text-md-right">
                <p class="mb-0 p-md-r-3 fw-bold">{{ order.full_name}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4 text-md-left">
                <p class="mb-0 text-black font-weight-bold p-md-l-3">Address 1:</p>
            </div>
            <div class="col-12 col-md-8 text-md-right">
                <p class="mb-0 p-md-r-3 fw-bold">{{ order.street_address1 }}</p>
            </div>
        </div>

        {% if order.street_address2 %}
        <div class="row">
            <div class="col-12 col-md-4 text-md-left">
                <p class="mb-0 text-black font-weight-bold p-md-l-3">Address 2:</p>
            </div>
            <div class="col-12 col-md-8 text-md-right">
                <p class="mb-0 p-md-r-3 fw-bold">{{ order.street_address2 }}</p>
            </div>
        </div>
        {% endif %}

        {% if order.county %}
        <div class="row">
            <div class="col-12 col-md-4 text-md-left">
                <p class="mb-0 text-black font-weight-bold p-md-l-3">County:</p>
            </div>
            <div class="col-12 col-md-8 text-md-right">
                <p class="mb-0 p-md-r-3 fw-bold">{{ order.county }}</p>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-12 col-md-4 text-md-left">
                <p class="mb-0 text-black font-weight-bold p-md-l-3">Town or City:</p>
            </div>
            <div class="col-12 col-md-8 text-md-right">
                <p class="mb-0 p-md-r-3 fw-bold">{{ order.town_or_city }}</p>
            </div>
        </div>

        {% if order.eircode %}
        <div class="row">
            <div class="col-12 col-md-4 text-md-left">
                <p class="mb-0 text-black font-weight-bold p-md-l-3">Eircode:</p>
            </div>
            <div class="col-12 col-md-8 text-md-right">
                <p class="mb-0 p-md-r-3 fw-bold">{{ order.eircode }}</p>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-12 col-md-4 text-md-left">
                <p class="mb-0 text-black font-weight-bold p-md-l-3">Country:</p>
            </div>
            <div class="col-12 col-md-8 text-md-right">
                <p class="mb-0 p-md-r-3 fw-bold">{{ order.country }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4 text-md-left">
                <p class="mb-0 text-black font-weight-bold p-md-l-3">Phone Number:</p>
            </div>
            <div class="col-12 col-md-8 text-md-right">
                <p class="mb-0 p-md-r-3 fw-bold">{{ order.phone_number }}</p>
            </div>
        </div>

        <hr class="">

        <div class="row">
            <div class="col-12 text-md-left mb-3">
                <small class="text-muted font-italic p-md-l-3">Billing Information</small>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4 text-md-left">
                <p class="mb-0 text-black font-weight-bold p-md-l-3">Order Total:</p>
            </div>
            <div class="col-12 col-md-8 text-md-right">
                <p class="mb-0 p-md-r-3 fw-bold">€{{ order.order_total }}</p>
            </div>
        </div>



        <div class="row">
            <div class="col-12 col-md-4 text-md-left">
                <p class="mb-0 text-black font-weight-bold p-md-l-3">Grand Total:</p>
            </div>
            <div class="col-12 col-md-8 text-md-right mb-4">
                <p class="mb-0 p-md-r-3 fw-bold">€{{ order.grand_total }}</p>
            </div>
        </div>
</div>



<div class="col-12 text-center my-4">
    <a href="{% url 'products:store_products'%}" class="btn btn-dark ">
        <i class="bi bi-backspace-fill"></i> Back to shop
    </a>
    {% if user.is_authenticated %}
    <a href="{% url 'customer_profile:profile' %}" class=" text-center  btn btn-success">
        Return to Profile
    </a>
    {% else %}
    <a href="{% url 'home:home' %}" class=" text-center btn btn-success">
       Home
    </a>
    {% endif %}

</div>

    <!-- <div class="col-12 text-center my-4">

    </div>

        <div class="row">
			<div class="col-12 col-lg-7 text-right">

		</div> -->

{% endblock %}