{% extends 'base.html' %}
{% load static %}
{% load cart_tool %}

{% block content %}
{% include 'partials/top_main_nav.html' %}

<section class="h-100 h-custom" >

    <div class="container py-5 h-100">


        <div class="row d-flex justify-content-center align-items-center h-100 ">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                                        <h6 class="mb-0 text-muted">{{ total_items }} items</h6>
                                    </div>
                                    <hr class="my-4">
                                    {% if cart_items %}



                                    {% for product_id,product in cart_data.items %}
                                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                                        <div class="col-md-2 col-lg-3 col-xl-3">
                                            <div class="col text-muted">€ {{ product.price }}</div>

                                            <img src="{{ product.image }}" class="img-fluid rounded-3" alt="{{ product.name }}">

                                        </div>
                                        <div class="col-md-2 col-lg-2 col-xl-2">

                                            <small class="text-black"></small>

                                            <h6 class="text-black mb-0">{{ product.name }} </h6>
                                        </div>

                                        <div class="col-md-3 col-lg-3 col-xl-3 col-sm-6 d-flex justify-content-center">
                                            <form id="{{ product_id }}"  action="{% url 'shopping_cart:update_cart' product_id  %}" method="POST" class="w-100 update-form">
                                                {% csrf_token %}
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-danger rounded-0"
                                                            data-item_id="{{ product_id }}" id="decrement-qty_{{ product_id }}">
                                                            <span class="icon">
                                                                <i class="fas fa-minus"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <div class="error-qty"></div>
                                                    <input class="form-control qty_input cart_form" type="number"
                                                        name="quantity" value="{{product.qty}}" min="1" max="5"
                                                        data-item_id="{{ product_id }}"
                                                        id="id_qty_{{ product_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-success rounded-0"
                                                            data-item_id="{{ product_id }}" id="increment-qty_{{ product_id }}">
                                                            <span class="icon">
                                                                <i class="fas fa-plus"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>


                                        </div>

                                        <div class="col-md-3 col-lg-2 col-xl-2 d-flex justify-content-center align-items-center p-0">
                                            <h6 class="mb-0">{{ product.price }}</h6>

                                        </div>
                                        <div class="col d-flex justify-content-end">

                                            <a class="update-link" role="button" target="{{ product_id }}">update</a>
                                            <a class="remove-item text-danger mx-2" id="remove_{{ product_id }}" >remove</a>
                                        </div>
                                    </div>

                                    <hr class="my-4">
                                    {% endfor %}


                                    <div class="pt-5">
                                        <h6 class="mb-0"><a href="#!" class="text-body"><i
                                                    class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1" id="subtotal" >Summary</h3>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase">€{{ total_items }} items</h5>
                                        <h5>€ 132.00</h5>
                                    </div>


                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-5">
                                        <h5 class="text-uppercase">Total price</h5>

                                        <h6 class="h5" >€ {{ total|floatformat:2 }}</h6>
                                    </div>


                                    <a href="{% url 'checkout:store_checkout' %}" class="btn btn-dark btn-block btn-lg"
                                        data-mdb-ripple-color="dark">Checkout</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% else %}
    <p class="lead mb-5">Your bag is empty.</p>
    <a href="{% url 'products:store_products' %}" class="btn btn-outline-black rounded-0 btn-lg">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
    </a>

    {% endif %}


</section>
{% include 'partials/footer.html' %}









{% endblock %}
{% block postload_js%}
{{ block.super }}

{% include 'partials/quantity_input_script.html' %}
{% include 'partials/cart_crud_script.html' %}

{% endblock %}

<!-- code taken from :https://mdbootstrap.com/docs/standard/extended/shopping-carts/#section-2 -->