/* Colors pallet */
:root {
  --white: #fff;
  --black: #000000;
  --dark:#332D2D;
  --hover-active:#007bff;
}

.top-section {
    background: url('/media/about_hero_big.jpeg') center/cover no-repeat;
    height: 50vh;
}

.about-us-section {
  background-color:var(--white);
  padding: 20px;
}

.image-column {
  background-color:var(--white);
  padding: 20px;
  position: relative;
}

.orange-row {
  background-color: orange;
}

.contact-row {
  background-color: var(--white);
}

.contact-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--white);
    border: 1px solid #ccc;
    padding: 20px;
}

.about-img{
  max-height: 750px;
  max-width: 650px;
}

/* media queries */
@media (max-width: 767px){
  .top-section{
    background: url('/media/about_hero_small.jpeg') center/cover no-repeat;
    height: 50vh;
  }
}

@media(max-width: 576px){
  .top-section{
    background: url('/media/about_hero_small.jpeg') center/cover no-repeat;
    height: 50vh;
  }
}