{% extends 'base.html' %}
{% load static %}
{% load cart_tool %}

{% block content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'contact_about/css/about.css' %}">
{% endblock %}
{% include 'partials/top_main_nav.html' %}



<div class="container-fluid">

    <!-- Top Section -->
    <div class="row top-section">


    </div>

    <!-- About Us Section -->
    <div class="row d-flex justify-content-center">
        <div class=" col-xl-5 col-md-12 about-us-section">
            <h2 class="p-3 w-50 mx-auto">About Us</h2>
            <p class="p-3 w-50 mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis debitis dicta
                nulla eaque doloremque!
                Commodi id aperiam ab illum quaerat delectus mollitia repellendus neque amet voluptatum, eaque voluptate
                esse quam corrupti repudiandae fuga optio dolorum quod enim nulla. Ab nam facere exercitationem harum
                veniam saepe cupiditate eveniet, tenetur incidunt repellat illo voluptate id eum quam inventore soluta
                consectetur eaque sed? Voluptates magni voluptatem cumque ullam odit! Fugiat dolores consequuntur
                beatae!</p>
        </div>

        <div class="col-xl-7 col-md-7 col-12 m-auto p-4">
            <img src="{{ MEDIA_URL }}forge_oven.jpeg" alt="" class="img-fluid">
        </div>

    </div>

    <!-- Small Text and Icon Section -->
    <div class="row orange-row py-4 bg-warning">


        <div class="col-md-4 col-sm-4 col-xs-8">
            <div class="card p-3 mb-2 bg-warning h-100">
                <div class="d-flex justify-content-center">
                    <div class="d-flex flex-row align-items-center">

                        <div class="ms-2 c-details">

                            <img src="{{ MEDIA_URL}}icon1.png" alt="">
                        </div>
                    </div>

                </div>
                <div class="mt-5">
                    <h3 class="heading text-center">Premium Quality<br> <hr>Superior Functionality</h3>
                    <div class="mt-5">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-8">
            <div class="card p-3 mb-2 bg-warning h-100">
                <div class="d-flex justify-content-center">
                    <div class="d-flex flex-row align-items-center">

                        <div class="ms-2 c-details">

                            <img src="{{ MEDIA_URL}}icon2.png" alt="">
                        </div>
                    </div>

                </div>
                <div class="mt-5">
                    <h3 class="heading text-center">Handcrafted<br> <hr>Unique Designs</h3>
                    <div class="mt-5">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-8">
            <div class="card p-3 mb-2 bg-warning h-100">
                <div class="d-flex justify-content-center">
                    <div class="d-flex flex-row align-items-center">

                        <div class="ms-2 c-details">

                            <img src="{{ MEDIA_URL}}icon4.png" alt="">
                        </div>
                    </div>

                </div>
                <div class="mt-5">
                    <h3 class="heading text-center"> Performance<br> <hr>Artistic Mastery</h3>
                    <div class="mt-5">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Contact and Image Section -->
    <div class="row contact-row pt-2">
        <h4 class="text-center fw-bold p-3">Contact Us</h4>
        <div class="col-md-6 contact-column">
            <!-- Contact Form will be inserted here -->
            <form action="{% url 'contact_about:contact_about'%}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Send message</button>
            </form>
        </div>
        <div class="col-md-6 image-column pt-0">
            <div class="card ">
                <img src="{{ MEDIA_URL}}contact_bottom.jpeg" alt="" class="card-img-top img-fluid">

            </div>

        </div>
    </div>


</div>
{% include 'partials/footer.html' %}

{% endblock%}