{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>

 /* 404,403,500 page styles */
#main{
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fof{
  display: table-cell;
  vertical-align: middle;
}

.fof h1{
  display: inline-block;
  padding-right: 12px;
  animation: type .5s alternate infinite;
}

@keyframes type{
  from{box-shadow: inset -3px 0px 0px #f19304;}
  to{box-shadow: inset -3px 0px 0px transparent;}
}

</style>

<main  class="d-flex">
    <div class="container-fluid fof d-flex flex-column align-items-center m-auto">
        <h1 class=" h1 text-warning font-weight-bold pb-3 display-1 "> 404</h1>
        <h2 class="h2 text-white font-weight-bold pb-3 display-3 text-center">Page Not Found</h2>
        <a href="{% url 'home' %}" class="btn btn-success active pl-5 pr-5"> Home</a>
    </div>
</main>

{% endblock %}