<script>
    // Update quantity on click
    $('.update-link').click(function(e) {

        var targetedId = $(this).attr('target');
        var form = $('#'+targetedId);

        form.submit();

    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1]
        console.log(itemId);
        var url = `/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'itemId':itemId};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>









