{% extends "base.html" %}
{% load static %}



{% block content %}

{% include 'partials/top_main_nav.html' %}
{% include 'partials/bottom_nav.html' %}
<div class=""></div>
<div class="container pt-4">

    <div class="row">
        <div class="col-12 col-md-6 mt-3">
            <hr>
            <h2 class="logo-font mb-4">Product Management</h2>
            <h5 class="text-muted">Add a Product</h5>
            <hr>
            <div>
                <img src="{{ MEDIA_URL }}logo2.png" alt="company logo" class="border border-dark img-fluid">
            </div>
        </div>
        <div class="col-12 col-md-6 mt-3 pt-2 pb-3">
            <form enctype="multipart/form-data" method="POST" action="{% url 'products:add_product' %}"
                class="mb-2 product-form ">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {{ form.category|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.item_no|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.price|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form.description|as_crispy_field }}
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.bladelength|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.blade|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form.handlematerial|as_crispy_field }}
                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        {{ form.image_url|as_crispy_field }}
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form.image|as_crispy_field }}
                    </div>

                </div>





                <div class="text-right">
                    <a class="btn btn-danger rounded-0" href="">Cancel</a>
                    <button class="btn btn-success rounded-0" type="submit">Add Product</button>
                </div>
            </form>
        </div>
    </div>


</div>
{% include 'partials/footer.html' %}
{% endblock %}