{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'partials/top_main_nav.html' %}

<div class="container-fluid mt-3 mb-1">

    <h1 class="text-center">

        {% if current_categories  %}

         KNIVES
        {% else %}
        KNIVES

        {% endif %}

    </h1>
    <div class="row">
            <!-- sorting option -->

            <div class="row mt-1 mb-2 d-flex justify-content-around mx-auto">
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 my-auto  d-flex justify-content-center ">
                    <div class="sort-select-wrapper">

                        <select id="sort-selector" class="custom-select p-1 custom-select-sm rounded-2 border border-{% if sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if sorting == 'None_None' %}selected{% endif %}>Filter</option>
                            <option value="price_asc" {% if sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="blade_length_asc" {% if sorting == 'blade_length_asc' %}selected{% endif %}>Blade Length (low to high)</option>
                            <option value="blade_length_desc" {% if sorting == 'blade_length_desc' %}selected{% endif %}>Blade Length (high to low)</option>
                            <option value="name_asc" {% if sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="category_asc" {% if sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                            <option value="category_desc" {% if sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4  order-md-last">
                <p class="text-muted mt-3 text-center text-md-left">
                    {% if search_term or current_categories or sorting != 'None_None' %}
                    {% endif %}
                    {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
        </div>

            <!-- sorting option -->
    </div>

    <div class="row">
        <div class="product-container col-10 offset-1 ">

            <div class="row g-3">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 ">
                    <div class="card border-1 h-100">
                        <div class="img-container">
                            <div class=" align-items-center p-2 first">
                                 <span class="wishlist"><i class="bi bi-suit-heart-fill"></i></span>
                            </div>
                            <a href="{% url 'products:product_detail' product.id %}">
                            <img src="{{ product.image.url }}" class="img-fluid card-img-top" alt="">
                            </a>
                        </div>
                        <div class="product-detail-container px-2">
                            <div class="d-flex justify-content-between align-items-center flex-wrap mb-1">
                                <h6 class="m-0 fw-bold">{{ product.name }}</h6> <span class="text-muted">Blade:{{ product.blade_length }} cm</span>
                            </div>
                            <div class="text-success fw-bold">
                                {{ product.price }} €
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
                                {% if product.category  %}
                                <div>
                                    <a class="text-dark text-decoration-none" href="{% url 'products:store_products' %}?category={{ product.category.name }}">
                                        {{ product.category.friendly_name }}
                                    </a>

                                </div>
                                {% else %}
                                {% endif %}
                                <div class="">
                                    <a class="btn" href="#"><i class="bi bi-cart3" style="-webkit-text-stroke-width: 1px; font-size: 1.3rem;"></i></a>
                                    <a class="btn" href="#"><i class="bi bi-eye" style="-webkit-text-stroke-width: 1px; font-size: 1.3rem;"></i> </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-3">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-3">
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                    <div class="col-12 d-none d-lg-block d-xl-none mb-3">
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                    <div class="col-12 d-none d-xl-block mb-3">
                        <hr>
                    </div>
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
<div class="btt-button">
    <a class="back-to-top d-flex h-100">
        <i class="bi bi-arrow-up-square-fill" id="back-to-top" ></i>
    </a>
</div>

{% endblock %}

