{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'partials/top_main_nav.html' %}

<div class="container-fluid mt-3 mb-1 ">

    <h1 class="text-center">



         KNIVES


    </h1>
    <div class="row">
            <!-- sorting option -->

            <div class="row mt-1 d-flex justify-content-around mx-auto">
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 my-auto  d-flex justify-content-center ">
                    <div class="sort-select-wrapper">

                        <select id="sort-selector" class="custom-select p-1 custom-select-sm rounded-2 border border-{% if sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if sorting == 'None_None' %}selected{% endif %}>Filter</option>
                            <option value="price_asc" {% if sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="bladelength_asc" {% if sorting == 'bladelength_asc' %}selected{% endif %}>Blade Length (low to high)</option>
                            <option value="bladelength_desc" {% if sorting == 'bladelength_desc' %}selected{% endif %}>Blade Length (high to low)</option>
                            <option value="name_asc" {% if sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="category_asc" {% if sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                            <option value="category_desc" {% if sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4  order-md-last">
                <p class="text-muted mt-3 text-center text-md-left">
                    {% if search_term or current_categories or sorting != 'None_None' %}
                    {% endif %}
                    {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
        </div>

            <!-- sorting option -->
    </div>

    <div class="row">
        <div class="mycontainer ">
            {% for product in products %}
            <div class="product-card">
                <div class="product-card__images">

                    <div class="product-card__img">

                        {% if product.image %}
                        <a href="{% url 'products:product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'products:product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no_image.jpg" alt="{{ product.name }}">
                        </a>
                        {% endif %}

                    </div>


                    <div class="product-card__like">

                        <form action="{% url 'wishlist:add_to_wishlist' %}" method="POST" enctype = "multipart/form-data" >
                            {% csrf_token %}
                            <input type="hidden" name="product-id" value="{{ product.id }}" >
                            <button type="submit" class="btn heart"><i class="product-card__heart bi bi-suit-heart" style="font-size: 2rem;-webkit-text-stroke-width: 1px;"></i></button>
                            <input type="hidden" name="my_redirect_url" value="{{ request.path }}">
                        </form>
                    </div>

                    <a href="{% url 'products:product_detail' product.id %}" class="btn product-card__btn">See more</a>
                </div>

                <div class="product-card__info">
                    <div class="d-flex justify-content-between align-items-center flex-wrap ">
                        <h6 class="mb-0 fw-bold">{{ product.name }}</h6><span class="text-muted ">Blade:{{ product.bladelength }} cm</span>
                    </div>
                    <div class="text-start">
                        <span class="text-success fw-bold">{{ product.price }} €</span>


                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-2">
                        {% if product.category  %}
                        <div class="ratings">{{ product.category.friendly_name }} </div>
                        {% else %}
                        {% endif %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="all_products">
                                <a class="btn addToCartBtn" href="#"><i class="bi bi-cart-check" style="-webkit-text-stroke-width: 1.5px; font-size: 1.5rem; color: rgb(8, 143, 14);"></i></a>
                                <!-- hidden inputs for ajax call -->
                                <input type="hidden" class="product-id" value="{{ product.id }}" >
                                {% if product.image %}
                                <input type="hidden" class="product-image" value="{{ product.image.url }}" >
                                {% else %}
                                <input type="hidden" class="product-image" value="{{ MEDIA_URL }}no_image.jpg" >
                                {% endif %}
                                <input type="hidden" class="product-price" value="{{ product.price }}">
                                <input type="hidden" class="product-name" value="{{ product.name }}">
                                <input type="hidden" class="csrf_token" value="{{ csrf_token }}">

                                <a class="btn" href="#"><i class="bi bi-eye-fill" style=" font-size: 1.5rem;"></i> </a>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
            {% endfor %}


        </div>


    </div>
</div>
{% include 'partials/footer.html' %}
<div class="btt-button">
    <a class="back-to-top d-flex h-100">
        <i class="bi bi-arrow-up-square-fill" id="back-to-top" ></i>
    </a>
</div>

{% endblock %}

